.section-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem 20px;
}
.section-heading .line {
    flex: 1;
    height: 1px;
    background-color: var(--header-text-color);
}
.section-heading h2{
    color: var(--header-text-color);
    white-space: nowrap;
    font: var(--h2);
    margin: 0 20px;
}