.navbar {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}
.navbar > :first-child{
    margin-right: auto;
}
.navbar-contact {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    padding: 0;
}
.navbar-links {
    list-style-type: none ;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    padding: 0;
    margin-top: 0.5rem;
}
.nav-name{
    font-family: 'GreatVibes';
    font-size: 3rem;
    margin: 0;
}
.contact-nav-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.navbar-link{
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.navbar-link:hover{
    background-color: var(--accent-color);
}
.small-accent{
    background-color: var(--accent-color);
    
}
.small-accent:hover{
    background-color: var(--accent-hover-color);
}
.hide-on-desktop {
    display: none;
    fill: var(--accent-color);
}
.sidebar {
    list-style-type: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
    width: 9rem;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: var(--accent-color);
    z-index: 1;
    display: none;
}
.navbar-button {
    border: 0;
    padding: 0;
    background-color: transparent;
}
.navbar-button:hover{
    background-color: var(--accent-color);
}
.navbar-button:hover svg{
    fill: white;
}
.sidebar-link:hover {
    background-color: var(--accent-hover-color);
}
.sidebar-link a {
    width: 100%;
    height: 100%;
    color: var(--main-text-color);
}
@media  screen and (max-width: 50rem) {
    .hide-on-desktop{
        display: block;
    }
    .hide-on-desktop svg{
        height: 40px;
        width: 40px;
        fill: var(--accent-color);
        padding: 0.5rem;
    }
    .hide-on-mobile{
        display: none;
    }
    .nav-name {
        font-size: 2.5rem;
    }
}